*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(210, 207, 207);
}
.App {
  padding: 20px;
  font-size: 1rem;
  margin-top: 20px;  
}
.App h1{
  font-size: 1.5rem;
  color: #145175;
}

.task-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  margin-top: 40px;
 
  
}

.task-input input {
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
  width: 70vw;
}

.task-input button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.task-input button:hover {
  background-color: #0056b3;
}

.task-list {
  margin-top: 40px;
  padding: 10px;
  width: 80vw;
  margin-left: 40px;
}

.task-Details{
  font-size: 1.2rem;
  color: #a90a84;
}


.task-item {
  display: flex;
  font-size: 1rem;
  margin-top:7px;
  justify-content: space-between;
  align-items: center;
  font-weight:400;
  padding: 10px;
  border-bottom: 1px solid #f4eeee;
}

.task-controls span {
  margin-right: 20px;
  font-weight: 400;
  margin-left: 20px;
}

.task-controls button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
}

.task-controls button:hover {
  background-color: #218838;
}

.task-controls button:nth-child(2) {
  background-color: #dc3545;
}

.task-controls button:nth-child(2):hover {
  background-color: #c82333;
}
