.App {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.task-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}

.task-input input {
  padding: 10px;
  width: 100%;
  margin-right: 10px;
  font-size: 1rem;
}

.task-input button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.task-input button:hover {
  background-color: #0056b3;
}

.task-list {
  margin-top: 20px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.task-controls span {
  margin-right: 20px;
  font-weight: bold;
}

.task-controls button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
}

.task-controls button:hover {
  background-color: #218838;
}

.task-controls button:nth-child(2) {
  background-color: #dc3545;
}

.task-controls button:nth-child(2):hover {
  background-color: #c82333;
}
