

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
 
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  text-align: center;
  color: #1592bf;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #91bade;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
